* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    margin:0;
    padding: 0;
}

h2, h3 {
    color: #074173;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

nav a:hover {
    font-weight: bold;
}

footer{
    padding: 15px;
    color: white;
    background-color: #1679ab;

    text-align: center;
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;

    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 50px;
    background-color: #265073;
    text-align: center;
    color: white;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

nav li {
    list-style-type: none;
    height: 15px;
}

.sidebar {
    position: fixed;
    margin-right: auto;
    margin-top: auto;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 65%;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgba(0, 0, 0, 0.568);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.change-color {
    fill: white;
}

nav {
    background-color: #1679ab;
    padding: 5px;

    position: sticky;
    top: 0;
}


main {
    padding: 20px;

    display: flex;
    gap: 1.5rem
}

#content {
    flex: 5;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

header {
    display: inline;
}

.menu-button{
    display: none;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: stretch;
    }
}

@media screen and (max-width: 768px) {
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }

    nav ul {
        justify-content: right;
        flex-wrap: wrap;
        margin: 10px;
    }

    nav a {
        font-size: 16px;
    }

    nav {
        padding: 1px;
    }

    main aside {
        align-self: stretch;
    }
}

@media screen and (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}